/Exercises/exercise1/build/
/Exercises/exercise1/nbproject/private/
/JavaApplication3exercise2.1/nbproject/private/
/Exercises/exercise2.1/nbproject/private/
/Exercises/exercise2.1/build/
/Exercises/exercise2.2/nbproject/private/
/Exercises/exercise2.2/build/
/Exercises/exercise2.3/nbproject/private/
/Exercises/exercise2.3/build/
/Exercises/UserProfile/nbproject/private/
/Exercises/UserProfile/build/
/Exercises/TypeIdentification/nbproject/private/
/Exercises/TypeIdentification/build/
/Exercises/RectangleCalculator/nbproject/private/
/Exercises/RectangleCalculator/build/
/Exercises/ex1/nbproject/private/
/Exercises/ex1/build/
/Exercises/ex2/nbproject/private/
/Exercises/ex2/build/
/Exercises/ex3/nbproject/private/
/Exercises/ex3/build/
/Exercises/ex4/nbproject/private/
/Exercises/ex4/build/
/Exercises/ex5/nbproject/private/
/Exercises/ex5/build/
/Exercises/ex8/nbproject/private/
/Exercises/ex8/build/
/Exercises/ex7/nbproject/private/
/Exercises/ex7/build/
/Exercises/Banking System/nbproject/private/
/Exercises/Banking System/build/
/Exercises/QuickBite/nbproject/private/
/Exercises/QuickBite/build/
/Exercises/User Input/nbproject/private/
/Exercises/User Input/build/
/Assignments/Enhanced for loop/nbproject/private/
/Assignments/Enhanced for loop/build/
/Assignments/Array Traversal/nbproject/private/
/Assignments/Array Traversal/build/
/Labs/Supermarket Billing System/nbproject/private/
/Labs/Supermarket Billing System/build/
/Labs/Pharmacy Sales System/nbproject/private/
/Labs/Pharmacy Sales System/build/
/Projects/JavaApplication25/nbproject/private/
/Projects/DataPlan/nbproject/private/
/Projects/RTRS/nbproject/private/
/Projects/RTRS/build/
/Projects/Prepaid meter/nbproject/private/
/Exercises/Exercise2/nbproject/private/
/Exercises/Exercise2/build/
/Exercises/classes1/nbproject/private/
/Exercises/class2/nbproject/private/
/Exercises/class3/nbproject/private/
/Exercises/Rectangle/nbproject/private/
/Exercises/exercise3/nbproject/private/
/Exercises/exercise3/build/
/Exercises/Animal/nbproject/private/
/Exercises/payment/nbproject/private/
